---
import '../styles/global.css'
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta
      name='description'
      content='Soluciones tecnológicas innovadoras en desarrollo web, automatización de procesos y análisis de datos. Optimiza tu empresa con nuestras plataformas a medida.'
    />
    <meta
      name='keywords'
      content='desarrollo web, automatización de procesos, análisis de datos, inteligencia de negocios, T&T Tech Solutions, software a medida'
    />
    <meta name='robots' content='index, follow' />

    <!-- Open Graph (para compartir en Facebook, LinkedIn y otras redes) -->
    <meta
      property='og:title'
      content='T&T Tech Solutions - Soluciones Digitales a Medida'
    />
    <meta
      property='og:description'
      content='Expertos en desarrollo web, automatización de procesos y análisis de datos. Optimiza tu empresa con nuestras soluciones tecnológicas.'
    />
    <meta
      property='og:image'
      content='https://tyttechsolutions.netlify.app/images/logo-dark.svg'
    />
    <meta property='og:url' content='https://tyttechsolutions.netlify.app' />
    <meta property='og:type' content='website' />

    <!-- Twitter Card -->
    <meta name='twitter:card' content='summary_large_image' />
    <meta
      name='twitter:title'
      content='T&T Tech Solutions - Desarrollo y Automatización'
    />
    <meta
      name='twitter:description'
      content='Expertos en desarrollo web, automatización de procesos y análisis de datos. Lleva tu negocio al siguiente nivel.'
    />
    <meta name='author' content='TEODEV' />
    <meta
      name='twitter:image'
      content='https://tyttechsolutions.netlify.app/images/logo-dark.svg'
    />

    <!-- Enlace canónico -->
    <link rel='canonical' href='https://tyttechsolutions.netlify.app/' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <title>T&T Tech Solutions</title>
  </head>
  <body>
    <main class='w-full max-w-full overflow-hidden'>
      <slot />
    </main>
  </body>
</html>
